.btn-get-recipe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-get-recipe-wrapper .btn-get-recipe {
  font-size: 25px;
  height: 50px;
  /* border: 1px solid black; */
  background-color: blueviolet;
  margin: 50px;
  color: white;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}

.btn-get-recipe-wrapper .btn-get-recipe:hover {
  background-color: blue;
}
