.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightblue !important ;
}

.layout-menu {
  display: block;
  padding-right: 4%;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 700;
  padding-left: 4%;
}

.drawer-button {
  display: none;
}

.drawer-wrapper {
  display: none;
}

.drawer-layout-menu {
  background-color: transparent;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .logo {
    font-size: 20px;
  }

  .item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 50px;
  }

  .logo {
    font-size: 18px;
  }

  .layout-menu {
    display: none;
  }

  .drawer-wrapper {
    display: block;
  }

  .drawer-button {
    display: block;
  }
}
