.header {
  /* position: fixed; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 75px; */
  color: lightblue !important ;
}

.layout-menu {
  display: flex;
  padding-right: 4%;
  /* gap: 5px; */
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding-left: 4%;
}

.item {
  margin-left: 25px;
  font-size: 22px;
  color: white;
}

.drawer-button {
  display: none;
}

.drawer-wrapper {
  display: none;
}

.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1200px) {
  /* .header {
    height: 45px;
  } */
  .logo {
    font-size: 20px;
  }

  .item {
    font-size: 14px;
  }
  .layout-menu {
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: 30px;
  }

  .logo {
    font-size: 15px;
  }

  .drawer-wrapper {
    display: block;
  }

  .drawer-button {
    display: block;
  }

  .layout-menu {
    display: none;
  }
}
