.recipe-header-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-row {
  margin: 0;
  padding: 0px;
}
.recipe-row {
  margin: 0 0 24px 0;
  padding: 16px 16px 16px 8px;
  background-color: #f8fafd;
  border-radius: 36px;
}

.header-image-wrapper {
  width: 573px;
  height: 446px;
}

.header-image-wrapper .header-image {
  border-radius: 20px;
  width: 573px;
  height: 446px;
}

.column-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 0;
}

.recipe-header-wrapper .recipe-title-name {
  font-size: 36px;
  font-weight: 600;
  color: black;
  margin: 30px 0 10px 0;
  padding: 0;
}

.recipe-header-wrapper .recipe-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  margin: 10px 0 30px 0;
  padding: 0;
}

.recipe-header-wrapper .recipe-name-wrapper .recipe-name {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 8px 0;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;

  font-size: 16px;
  color: #595959;
  font-weight: 400;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  color: #726969;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.icons-wrapper h5,
.icon-outlined {
  cursor: pointer;
}

.avg-rating-icons {
  font-size: 20px;
  color: #5a5a5a;
  font-weight: 400;
}

.rating-icon-color {
  color: #12822a;
  font-size: 20px;
}

.rating-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.rating-divider {
  height: 70px;
  background-color: #d5d5d5;
}

.rating-text {
  text-align: center;
  font-size: 20px;
  color: #5a5a5a;
  font-weight: 400;
}

.recipe-count {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .recipe-row {
    display: flex;
    flex-direction: column;
    border: 1px solid red;

    margin: 0 0 0 0;
    padding: 5px;
    /* width: 325px; */
    background-color: #f8fafd;
    border-radius: 20px;
    width: 100%;
  }

  .header-image-wrapper {
    width: 308.67px;
    height: 214px;
  }

  .header-image-wrapper .header-image {
    border-radius: 12px;
    width: 308.67px;
    height: 214px;
  }

  .recipe-header-wrapper .recipe-title-name {
    font-size: 21.5px;
    margin: 10px 0 3.5px 0;
  }

  .recipe-header-wrapper .recipe-name-wrapper .recipe-name {
    font-size: 12px;
    padding: 3px 0;
  }

  .recipe-header-wrapper .recipe-name-wrapper {
    margin: 3px 0 10px 0;
  }

  .icons {
    font-size: 9.5px;
  }

  .avg-rating-icons {
    font-size: 12px;
  }

  .recipe-count {
    font-size: 21.5px;
  }

  .rating-text {
    font-size: 12px;
  }
}
