.recipe-category-wrapper {
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-category-inner-wrapper {
  display: flex;
  flex-direction: column;
  /* padding: 0 20px; */
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.title-recipe-category {
  text-align: left;
  font-weight: 400;
  font-size: 60px;
}

.card-image-wrapper {
  height: 90px;
  width: 100px;
}

.card-image {
  overflow: hidden;
}

.column-recipe-category {
  cursor: pointer;
  gap: 20px;
}

.category-card-container {
  max-width: 282px !important;
  height: 137px;
  background-color: #eefddd;
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px solid white;
  /* margin: 0 5px; */
}

.category-card-container:hover {
  border: 0.5px solid #3c7d06;
}

.upper-card-wrapper {
  display: flex;
  /* justify-content: space-between; */
  margin: 0;
  padding: 0;
}

.text-recipe-category {
  font-size: 32px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.lower-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 0 15px;
}

.lower-card-wrapper h4 {
  font-weight: 300;
}

@media only screen and (max-width: 1280px) {
  .title-recipe-category {
    font-size: 40px;
  }
  .card-image-wrapper {
    height: 60px;
    width: 64px;
  }

  .column-recipe-category {
    gap: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .title-recipe-category {
    font-size: 36px;
  }
  .card-image-wrapper {
    height: 48px;
    width: 54px;
  }

  .column-recipe-category {
    gap: 16px;
  }
}
