.recipe-category-wrapper {
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-category-inner-wrapper {
  display: flex;
  flex-direction: column;
  /* padding: 0 20px; */
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-image {
  overflow: hidden;
  height: 132px;
  width: 132px;
  padding: 0 10px 0 10px;
}

.column-recipe-category {
  cursor: pointer;
  gap: 20px;
}

.category-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  width: 385px !important;
  height: 164px;
  background-color: #e4e4e7;
  border-radius: 14px;
  overflow: hidden;
  border: 0.5px solid white;
  /* margin: 0 5px; */
}

.category-card-container:hover {
  border: 0.5px solid #3c7d06;
}

.categories-text-wrapper {
  text-align: start;
}

.categories-text-title {
  font-size: 32px;
  font-weight: 600;
}

.categories-text-items {
  font-size: 16px;
  font-weight: 400;
}

