.recipe-category-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-category-inner-wrapper {
  max-width: calc(1180px - 20px);
}

.title-recipe-category {
  text-align: center;
  font-size: 60px;
}

.card-image-wrapper {
  height: 90px;
  width: 100px;
}

.card-image {
  overflow: hidden;
}

.column-recipe-category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.category-card-container {
  min-width: 282px;
  height: 137px;
  background-color: #eefddd;
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px solid white;
}

.category-card-container:hover {
  border: 0.5px solid #3c7d06;
}

.upper-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.text-recipe-category {
  font-size: 32px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.lower-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.lower-card-wrapper h4 {
  font-weight: 300;
}
