.recipes-wrapper {
  background: #ececec;
  padding: 10px;
}

.header-text {
  font-size: 40px;
  color: #124559;
  margin: 0;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.cuisine-column {
  margin: 0;
  padding: 0;
}

.cuisine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}

.cuisine-container .cuisine-img {
  height: 110px;
  width: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.cuisine-container .cuisine-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.cuisine-container:hover .cuisine-img {
  border: 1px solid red;
}

.cuisine-container:hover .cuisine-title {
  font-weight: 600;
}
