.recipes-wrapper {
  min-height: 90vh;
  overflow-x: hidden;
}

.recipes-inner-wrapper {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
}

/* .recipes-banner .banner-img {
  width: 1440px;
} */

.recipes-layout {
  margin-top: 40px;
  width: 100%;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-row {
  display: flex;
  justify-content: space-around;

  position: absolute;
  width: 876px;
  height: 113px;

  background-color: white;
  border: 1px solid #dadada;
  border-radius: 19px;
}

.filter-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px, 0px, 24px, 0px !important;
}

.filter-divider {
  width: 1px; /* Adjust the width to make the divider wider */
  height: 65px;
  background-color: #737373;
}

.filter-select {
  border: none !important;
}

.ant-select-selector {
  border: none !important;
  font-size: 20px !important;
  font-weight: 500;
  color: black !important;
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon-wrapper {
  font-size: 20px;
  color: #12822a;
}

.bar-title {
  text-align: left;
  color: #737373;
  font-size: 16px;
  font-weight: 400;
}

.bar-sub-title {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 8px;
}

.recipes-search-button {
  width: 157px;
  border-radius: 8px;
  background-color: #12822a;
}

.recipes-search-button ::placeholder {
  color: white; /* Set the placeholder color to white */
  font-size: 20px !important;
  font-family: "Inter Tight", sans-serif !important;
}

.recipes-wrapper .recipes-spinner {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.filter-search-icon {
  background-color: transparent !important;
  color: white;
}

.filter-column .ant-input {
  background-color: #12822a;
  color: #a3cef1;
  font-size: 20px;
}
.cuisines-section {
  padding: 0 16px;
}

.header-text {
  margin: 0;
  font-size: 28px;
  color: #124559;
  text-align: center;
}

.recipe-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #a3cef1;
  border-radius: 10px;
  padding: 10px 0;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.cuisine-column {
  margin: 0;
  padding: 0;
}

.btn-cuisine-name {
  min-width: 100px;
}

.btn-active-cuisine-name {
  background-color: #001529;
  min-width: 100px;
  color: white;
}

.cuisine-container .cuisine-img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.cuisine-container .cuisine-titles {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 4px solid white;
  color: black;
}

.cuisine-container:hover .cuisine-titles {
  font-weight: 600;
  border-bottom: 4px solid green;
}

.cuisine-rows::-webkit-scrollbar {
  height: 8px;
}

.cuisine-rows::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.cuisine-rows::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
}

.drawer-buttons {
  display: none;
}

.drawer-wrappers {
  display: none;
}

.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1439px) {
  .recipe-inner-wrapper {
    max-width: calc(992px - 20px);
  }

  .header-text {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .cuisine-rows {
    max-width: calc(992px - 20px);
    height: 100px;
  }

  .cuisine-container {
    width: 90px;
  }

  .cuisine-container .cuisine-img {
    height: 65px;
    width: 65px;
  }

  .cuisine-container .cuisine-titles {
    font-size: 12px;
    border-bottom: 3px solid white;
  }
}

@media only screen and (max-width: 992px) {
  .recipe-inner-wrapper {
    max-width: calc(758px - 20px);
  }

  .header-text {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .tags-wrapper {
    max-width: calc(758px - 20px);
  }

  .cuisine-container {
    width: 80px;
  }

  .cuisine-container .cuisine-img {
    height: 55px;
    width: 55px;
  }

  .cuisine-container .cuisine-titles {
    font-size: 10px;
    border-bottom: 3px solid white;
  }
}

@media only screen and (max-width: 767px) {
  .header-text {
    display: none;
  }
  .drawer-wrappers {
    display: block;
  }

  .drawer-buttons {
    display: block;
    gap: 20px;
  }

  .tags-wrapper {
    display: none;
    border: 1px solid red;
  }

  .cuisine-titles {
    color: black;
    width: 200px;
    text-align: center;
    margin-bottom: 5px;
  }
}
