.recipes-wrapper {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.recipe-inner-wrapper {
  max-width: calc(1180px - 20px);
}

.header-text {
  font-size: 40px;
  color: #124559;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.cuisine-rows {
  max-width: calc(1180px - 20px);
  height: 150px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

.cuisine-column {
  margin: 0;
  padding: 0;
}

.cuisine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 145px;
}

.cuisine-container .cuisine-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.cuisine-container .cuisine-titles {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 4px solid white;
}

.cuisine-container:hover .cuisine-titles {
  font-weight: 600;
  border-bottom: 4px solid green;
}

.cuisine-rows::-webkit-scrollbar {
  height: 8px;
}

.cuisine-rows::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.cuisine-rows::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}

.drawer-buttons {
  display: none;
}

.drawer-wrappers {
  display: none;
}

.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1200px) {
  .drawer-wrappers {
    display: block;
  }

  .drawer-buttons {
    display: block;
  }

  .cuisine-rows {
    display: none;
  }

  .cuisine-titles {
    color: black;
  }
}
