.conatiner-wrapper {
  display: flex;
  justify-content: space-around;
  /* margin-top: 20px; */
  background-color: #fbd9bf;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-left {
  align-items: center;
  text-align: center;
  background-color: #68d8d6;
  border-radius: 20px;
  padding: 20px;
  width: 33%;
  box-shadow: 5px solid blue;
  border: 1px solid blueviolet;
}

.container-left h2 {
  color: red;
  font-size: 70px;
}

.container-left h5 {
  color: brown;
  font-size: 40px;
}

.container-left p {
  color: rgb(75, 68, 59);
  font-size: 35px;
}

.container-left .btn {
  background-color: #72434b;
  font-size: 20px;
  box-shadow: 3px snow;
  border: none;
  border-radius: 5px;
  margin: 3px;
  padding: 10px;
  color: aliceblue;
}

.container-left .btn:hover {
  background-color: yellowgreen;
  color: black;
}

.container-right img {
  border-radius: 20px;
}
