/* .hero-image-1-wrapper {
  position: relative;
} */

.hero-wrapper {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.hero-text-wrapper {
  position: absolute;
  margin-left: 140px;
}

.hero-title {
  font-weight: 500;
  font-style: normal;

  font-size: 96px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero-title span {
  color: #3c7d06;
}

.hero-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #606060;
}

.hero-image-2-wrapper {
  position: relative;
  width: 574px;
  height: 721px;

  top: 0%;
}

.explore-CTA-button {
  border-radius: 30px !important;
  padding: 0 !important;
  width: 239px;
  height: 50px !important;
  color: white;
  background-color: #3c7d06;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  gap: 16px;
  font-size: 24px !important;
  font-weight: 500;
}

/* .CTA-button:hover {
  color: white !important;
} */

.explore-CTA-button:hover {
  color: white !important;
  background-color: #3c7d06 !important;
}

.ant-btn-icon {
  margin: 0 !important;
}

@media only screen and (max-width: 1400px) {
  .hero-text-wrapper {
    margin-left: 85px;
  }
  .hero-title {
    font-size: 72px;
  }
  .hero-image-2-wrapper {
    width: 383px;
    height: 481px;
  }

  .hero-text {
    font-size: 16px;
  }
  .explore-CTA-button {
    width: 180px;
    height: 37px !important;
    font-size: 18px !important;
    border-radius: 22px;
  }

  .CTA-button-icon {
    height: 33px !important;
    width: 33px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-text-wrapper {
    margin-left: 42px !important;
  }
  .hero-title {
    font-size: 48px !important;
  }
  .hero-image-2-wrapper {
    width: 344px !important;
    height: 432px !important;
  }

  .hero-text {
    font-size: 18px !important;
  }
  .explore-CTA-button {
    width: 160px !important;
    height: 33px !important;
    font-size: 16px !important;
    border-radius: 20px !important;
    gap: 10px;
  }

  .CTA-button-icon {
    height: 28px !important;
    width: 28px !important;
  }
}

@media only screen and (max-width: 768px) {
  .hero-text-wrapper {
    margin-left: 20px !important;
  }
  .hero-title {
    font-size: 40px !important;
    line-height: 45px !important;
  }
  .hero-image-2-wrapper {
    width: 200px !important;
    height: 300px !important;
  }

  .hero-text {
    font-size: 12px !important;
  }
  .explore-CTA-button {
    width: 100px !important;
    height: 24px !important;
    font-size: 12px !important;
    border-radius: 10px !important;
    gap: 5px;
  }

  .CTA-button-icon {
    height: 16px !important;
    width: 16px !important;
  }
}

@media only screen and (max-width: 550px) {
  .hero-image-2-wrapper {
    display: none;
  }
}
