.Hero-wrapper {
  width: 100%;
  height: 1000px;

  background-image: url("./images/display-2.jpg");
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100%;
}

.Hero-wrapper .Hero-header {
  font-size: 60px;
  text-align: center;
  color: white;
}

.Hero-wrapper .input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero-wrapper .input-div .input-class {
  height: 30px;
  width: 600px;
  border: none;
  /* background-color: lightblue; */
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  margin-right: 1px;
  outline: none;
}

.Hero-wrapper p {
  margin-top: 100px;
  color: #fff0f3;
  font-size: 35px;
}

.Hero-wrapper p span {
  font-weight: bold;
}

.Hero-wrapper .multi-btn .btn-tags {
  /* background-color: #4361ee;
  color: #fff0f3; */
  border: none;
  /* font-size: 20px; */
}
