.popular-recipe {
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
  color: #124559;
}
.card-wrapper {
  border: 1px solid red;
}

.card {
  margin: 40px;
  width: 526px;
  /* padding: 20px; */
  /* padding: 3px; */
  border-radius: 12px;
  box-shadow: 0px 1px 5px gray;
  /* overflow: hidden; */
}

.image-wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.card .image {
  height: 400px;
  width: 526px;
  object-fit: cover;
  transition-duration: 1s;
  /* overflow: hidden; */
}

.card:hover .image {
  transform: scale(1.1);
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 1px 20px gray;
  color: green;
}

.card .card-text {
  margin: 0;
  padding-left: 10px;
  padding: 0;
}

.card .card-text h1 {
  margin: 0;
  padding: 8px;
}
.card .card-text .text-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card .card-text .text-btn-wrapper p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.btn-div {
  position: relative;
}
.btn-main {
  position: absolute;
  right: 0;
  bottom: 0;
}
.tag-div {
  width: 80%;
}
