.home-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  max-width: 1200px;
  /* border: 1px solid red; */
  margin-bottom: 50px;
}
.popular-recipe {
  margin-top: 60px;
  text-align: center;
  font-size: 60px;
}

.card {
  margin-bottom: 16px;
  padding: 0px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  height: 357px;
  width: 384px;

  border: 1px solid #ededed;
}

.card .ant-card-body {
  margin: 0px !important;
  padding: 0px !important;
}

.card .card-text {
  width: 100%;
  margin: 0px;
  padding: 10px;
  height: 0px;
  padding-left: 10px;
  padding-right: 5px;
  position: absolute;
  bottom: 0;
  color: black;
  height: 133px;
  background-color: white;
  transition: height 1s ease-out;
}

.card .card-text h1 {
  margin: 0px;
  padding-left: 10px;
  text-align: start;
  font-size: 32px;
}

.card .card-text h5 {
  margin: 0px;
  padding: 0px;
  text-align: start;
  font-size: 16px;
  font-weight: 300;
  width: 352px;
}

.button-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.card-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 6px;

  margin-right: 20px;
  border: none;
  color: #12822a;
  font-size: 20px;
  font-weight: 600;
}

.image-wrapper {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-duration: 1s;
  margin: 0px;
  padding: 0px;
}

.card:hover .image {
  transform: scale(1.1);
  overflow: hidden;
}

.btn-see-more {
  margin-bottom: 10px;
  font-weight: 800;
  color: #124559;
  /* border: 1px solid blue; */
}

/* @media only screen and (max-width: 762px) {
  .popular-recipe {
    margin-top: 30px;
    font-size: 30px;
  }
  .card {
    width: 250px;
    height: 250px;
  }

  .card .card-text {
    height: 80px;
    font-size: 10px;
  }

  .card .image {
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(50%);
  }
} */
