.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
}

.card-wrapper {
  width: 1200px;
  margin-bottom: 50px;
}

.popular-recipe {
  margin-top: 60px;
  text-align: center;
  font-size: 60px;
}

.card {
  /* margin-bottom: 16px; */
  padding: 0px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  height: 377px;
  width: 384px;

  border: 1px solid #ededed;
}

.card .ant-card-body {
  margin: 0px !important;
  padding: 0px !important;
}

.card .card-text {
  width: 100%;
  margin: 0px;
  position: absolute;
  bottom: 0;
  color: black;
  height: 157px;
  background-color: #f8fafd;
  transition: height 1s ease-out;
}

.card .card-text .card-text-title {
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 32px;
  font-weight: 600;
  color: #000000;
}

.card-text-category-likes-wrapper {
  display: flex;
  /* gap: 150px; */
  justify-content: space-between;
  padding-right: 32px;
}

.card-text-category {
  padding: 0 16px;
  border: 1px solid #f31260;
  border-radius: 12px;
}

.card-text-category p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #f31260;
}

.card-text-likes {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.card-text-likes-icon {
  font-size: 22px;
  color: #464646;
  margin: 0;
}

.card-text-likes p {
  margin: 0;
  font-size: 12px;
  color: #595959;
  font-weight: 400;
  font-size: 12px;
}

.card-instruction-text {
  margin: 0;
  padding: 0 16px 0 0;
  text-align: start;
  font-size: 16px;
  font-weight: 300;
}

.button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  background-color: #f8fafd !important;
}

.card-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0;
  background-color: #f8fafd !important;
  border: none;
  box-shadow: none;
  color: #12822a;
  font-size: 20px;
  font-weight: 600;
}

.image-wrapper {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-duration: 1s;
  margin: 0px;
  padding: 0px;
}

.card:hover .image {
  transform: scale(1.1);
  overflow: hidden;
}

.btn-see-more {
  margin-bottom: 10px;
  font-weight: 800;
  color: #124559;
  /* border: 1px solid blue; */
}

/* @media only screen and (max-width: 762px) {
  .popular-recipe {
    margin-top: 30px;
    font-size: 30px;
  }
  .card {
    width: 250px;
    height: 250px;
  }

  .card .card-text {
    height: 80px;
    font-size: 10px;
  }

  .card .image {
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(50%);
  }
} */
