.day-card-wrapper {
  display: flex;
  background-color: #f8fafd;
  gap: 20px;
  border-radius: 20px 20px 20px 80px;
}

.day-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.day-text-category {
  width: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.day-text-header {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.day-text-paragraph {
  font-weight: 300;
  font-size: 24px;
  color: #5a5a5a;
  margin: 16px 0;
}

.day-recipe-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5px;

  width: 155px;
  font-size: 20px;
  background-color: #12822a;
  border-radius: 31px;
  color: white;
  cursor: pointer;
  padding: 0;
}

.day-recipe-button:hover {
  color: white !important;
  background-color: #12822a !important;
}

.Right-Outlined {
  font-size: 15px;
}
