.contact-image {
  margin: 0;
  padding: 0;
  position: relative;
}

.contact-inner-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.contact-message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-message-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 480px;
  padding: 30px;
  border-radius: 16px;

  background-color: #f8fafd;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
}

.first-name-wrapper,
.mail-wrapper,
.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.name-box {
  width: 224px;
}

.message-box {
  height: 128px;
}

.first-name {
  color: #344054;
  font-size: 14px;
  font-weight: 500;
}

/* .checkbox-container{

} */

.ant-checkbox {
  color: #4a9c05;
}

.message-button {
  background-color: #12822a;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
}

.message-button:hover {
  background-color: #0e6d23 !important;
  color: white !important;
}
