.contact-me-wrapper {
  font-family: "Calibri";
  overflow-y: auto;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.general-input {
  width: 100%;
  height: 44px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  color: #858585;
  font-family: "Calibri";

  &::placeholder {
    color: #858585;
  }
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.contact-me-inner-wrapper {
  padding: 50px 200px;
  width: 100%;
}

.contact-us-title {
  margin-bottom: 40px;
}

.page-sub-title {
  text-align: left;
  /* line-height: 30px; */
  margin: 0;
  font-size: 24px;
  color: black;
  font-family: "Calibri";
  /* border: 1px solid red; */
}

.page-title {
  margin: 0;
  padding: 0;
  /* margin-bottom: 20px; */
  font-size: 42px;
  font-family: "Calibri";
}

.contact-us-form {
  margin-top: 10px;
}

.user-social-media-wrapper {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.user-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-link {
  color: #001529;
}

.user-link:hover {
  color: #0b4780;
}

.user-icons {
  font-size: 20px;
}

.submit-button {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
  background-color: #001529;
  border-radius: 8px;
}

.submit-button:hover{
  background-color: #084074 !important;
}

@media (max-width: 992px) {
  .contact-me-inner-wrapper {
    padding: 50px 100px;
  }
}

@media (max-width: 768px) {
  .contact-me-inner-wrapper {
    padding: 50px 50px;
  }

  .form-wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .contact-me-inner-wrapper {
    padding: 10px 20px;
  }
}
