.section-title{
  font-size: 2.25rem;
}

.section-subtitle{
  font-size: 1.5rem;
}

.contact-header {
  text-align: center !important;
  margin-bottom: 1rem;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 3rem;
}

.contact-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.contact-info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 200px;
}

.contact-card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  height: 120px;
}

.contact-card-icon {
  font-size: 2rem;
  /* color: blue; */
  /* margin-bottom: 0.1rem; */
}

.contact-card-title,
.contact-card-data {
  font-size: 1.25rem;
}

.contact-card-title {
  font-weight: 500;
}

.contact-card-data {
  display: block;
  margin-bottom: 1rem;
}

.contact-button {
  color: black;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.contact-button-icon {
  font-size: 1rem;
  transition: 0.3s;
  text-decoration: none;
  outline: none;
}

.contact-button:hover .contact-button-icon {
  transform: translate(00.25rem);
}

.contact-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 0.5rem;
  /* border: 1px solid red; */
}

.contact-form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: blue;
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}

.contact-form-tag {
  background-color: white;
  font-size: 1.25rem;
  left: 1.25rem;
  padding: 0.25rem;
  position: absolute;
  top: -0.9rem;
  z-index: 10;
}

.contact-form-area {
  position: relative;
  margin-bottom: 2rem;
  height: 10rem;
}

.contact-form-area textarea {
  resize: none;
}

.button {
  background-color: #333;
  border-radius: 1rem;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  margin-top: 3rem;
  padding: 1.25rem 2rem;
}

.button:hover {
  background-color: black;
}
/*========================== BREAKPOINT ==============================*/
/* For large devices */
@media screen and (max-width: 992px) {
  .contact-container {
    column-gap: 3rem;
  }
}
/* For medium devices */
@media screen and (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .contact-info {
    justify-content: center;
  }

  .contact-form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .contact-info {
    grid-template-columns: 1fr;
  }

  .contact-form {
    width: 100%;
  }
}
/* For small devices */
@media screen and (max-width: 350px) {
}
