.wrapper {
  /* padding: 0 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-wrapper {
  max-width: 1440px;
}

.breadcrumb-wrapper {
  text-align: center;
}

.heading-row-wrapper {
  background-color: #f4ffe5;
  border-radius: 20px;
  margin-bottom: 26px;
}

.image-wrapper {
  overflow: hidden;
  width: 573px;
  height: 446px;
}

.image-class {
  border-radius: 30px;
  transition-duration: 1s;
  overflow: hidden;
  width: 573px;
  height: 446px;
  padding: 16px;
}

.image-wrapper:hover .image {
  transform: scale(1.1);
  overflow: hidden;
}

.text-wrapper {
  width: 573px !important;
}

.recipe-text-inner-wrapper {
  width: 573px;
  height: 446px;
}

.recipe-title {
  font-size: 36px;
  font-weight: 600;
}

.recipe-text {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 14px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 10px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;

  font-size: 16px;
  color: #595959;
  font-weight: 400;
}

.icons-wrapper-left,
.icons-wrapper-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.rating-icons {
  display: flex;
  align-items: center;
}

.rating-icon-color {
  color: #12822a;
}

.rating-inner-wrapper {
  display: block;
  align-items: center;
  justify-content: center;
}

.rating-divider {
  height: 98px;
  background-color: #5a5a5a;
}

.rating-text {
  text-align: center;
  color: #5a5a5a;
  font-weight: 400;
}

/* .instruction-ingredient-row {
  display: flex;
} */

.instruction-div {
  border: 1px solid #dbf5cd;
  border-radius: 20px;
  padding: 16px;
}

.instruction-text {
  font-size: 16px;
  color: black;
  text-align: start;
}

.instruction-header {
  font-size: 32px;
  font-weight: 500;
}

.check-icon {
  color: #12822a;
}

table {
  width: 580px;
}
.table-row {
  /* display: flex;
  justify-content: space-between; */

  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

tr {
  /* text-align: center; */
  padding-bottom: 16px;
}

.td-ingredient-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
}

.td-ingredient {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.td-measure {
  text-align: start;
}

.YT-header {
  font-size: 36px;
  font-weight: 600;
}

.wrapper .YT-wrapper h4 {
  text-align: center;
  font-size: 30px;
  color: green;
  margin: 0px;
  padding: 0px;
  /* margin-top: 20px; */
}

 .YT-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
}

 .i-frame {
  width: 65%;
  height: 500px;
  border-radius: 24px;
}

@media only screen and (max-width: 767px) {
  .wrapper .recipe-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    /* align-items: center; */
    gap: 10px;
    align-items: center;
  }

  .wrapper .recipe-top .top-text h1 {
    font-size: 20px;
  }

  .wrapper .top-text h3 {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .wrapper .recipe-top .image-wrapper .image {
    border-radius: 12px;
    object-fit: cover;
    transition-duration: 1s;
    height: 250px;
    /* margin: 3px; */
    overflow: hidden;
  }

  .YT-wrapper h3 {
    font-size: 20px;
    padding-bottom: 0px;
  }

  .YT-wrapper h4 {
    font-size: 12px;
    margin-top: 0px;
  }

  .YT-wrapper .i-frame {
    width: 65%;
    height: 250px;
  }
}
