.wrapper {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1204px;
}

/* .inner-wrapper {
} */

.breadcrumb-wrapper {
  text-align: center;
}

.image-wrapper {
  overflow: hidden;
  background-color: #f4ffe5;
  padding: 16px;
  width: 573px;
  height: 446px;
}

.image-class {
  border-radius: 20px;
  transition-duration: 1s;
  overflow: hidden;
  width: 573px;
  height: 446px;
}

.image-wrapper:hover .image {
  transform: scale(1.1);
  overflow: hidden;
}

.text-wrapper {
  background-color: #f4ffe5;
  width: 573px !important;
}

.recipe-text-inner-wrapper {
  width: 573px;
  height: 446px;
}

.recipe-title {
  font-size: 36px;
  font-weight: 600;
}

.recipe-text {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 14px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 10px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;

  font-size: 16px;
  color: #595959;
  font-weight: 400;
}

.icons-wrapper-left,
.icons-wrapper-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.rating-icons {
  display: flex;
  align-items: center;
}

.rating-icon-color {
  color: #12822a;
}

.rating-inner-wrapper {
  display: block;
  align-items: center;
  justify-content: center;
}

.rating-divider {
  height: 98px;
  background-color: #5a5a5a;
}

.rating-text {
  text-align: center;
  color: #5a5a5a;
  font-weight: 400;
}

.instruction-div {
  width: 586px;
}

.instruction-text {
  font-size: 16px;
  color: black;
  text-align: start;
}

.wrapper .table-div table {
  width: 60%;
  border-spacing: 0 15px;
}

.wrapper .table-div h2 {
  font-size: 40px;
  text-align: center;
  color: #124559;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
}

.wrapper .table-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .table-div table {
  font-size: 25px;
  border-radius: 10px;
}

.wrapper .table-div tr {
  text-align: center;
  background-color: rgb(223, 230, 236);
}

.wrapper .table-div table td {
  text-transform: capitalize;
}

.wrapper .instruction-div {
  padding: 0 80px;
}

.wrapper .instruction-div h3 {
  font-size: 40px;
  text-align: center;
  color: #124559;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 8px;
}

.wrapper .YT-wrapper h3 {
  font-size: 40px;
  text-align: center;
  color: #124559;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 8px;
}

.wrapper .YT-wrapper h4 {
  text-align: center;
  font-size: 30px;
  color: green;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

.wrapper .YT-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
}

.wrapper .YT-wrapper .i-frame {
  width: 65%;
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .wrapper .recipe-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    /* align-items: center; */
    gap: 10px;
    align-items: center;
  }

  .wrapper .recipe-top .top-text h1 {
    font-size: 20px;
  }

  .wrapper .top-text h3 {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .wrapper .recipe-top .image-wrapper .image {
    border-radius: 12px;
    object-fit: cover;
    transition-duration: 1s;
    height: 250px;
    /* margin: 3px; */
    overflow: hidden;
  }

  .wrapper .table-div table {
    width: 100%;
    margin: 0px auto;
    /* border-collapse: separate; */
    border-spacing: 0 5px;
  }

  .wrapper .table-div h2 {
    font-size: 20px;
    /* margin-top: 30px; */
    margin-top: 12px;
  }

  .wrapper .table-div table {
    /* border-collapse: collapse; */
    width: 80%;
    /* margin: 20px auto; */
    font-size: 14px;
  }

  .wrapper .table-div table td {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .wrapper .instruction-div h3 {
    font-size: 20px;
    /* margin-top: 30px; */
  }

  .wrapper .instruction-div p {
    font-size: 14px;
    padding: 10px;
    line-height: 1.2;
    border-radius: 8px;
  }

  .wrapper .instruction-div p span {
    color: green;
    font-size: 12px;
  }

  .wrapper .YT-wrapper h3 {
    font-size: 20px;
    padding-bottom: 0px;
  }

  .wrapper .YT-wrapper h4 {
    font-size: 12px;
    margin-top: 0px;
  }

  .wrapper .YT-wrapper .i-frame {
    width: 65%;
    height: 250px;
  }
}
