.footer-wrapper {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px; /* Reduce the gap for smaller screens */
  align-items: center; /* Center content horizontally */
  position: relative;
  bottom: 0;
  /* width: 100%; */
}

.contact-section-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-section-wrapper .contact-section a {
  padding: 6px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.contact-section-wrapper .contact-section a:hover {
  color: rgb(203, 193, 212);
}

.quick-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center; /* Center content horizontally */
}

.quick-links .quick-link-wrapper {
  gap: 5%;
}

.quick-links .quick-link-wrapper .items {
  font-size: 18px;
  outline: none;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.quick-links .quick-link-wrapper .items:hover {
  color: rgb(203, 193, 212);
}

p {
  color: white;
  text-align: center;
  margin: 0; /* Remove default margin */
}

@media only screen and (max-width: 768px) {
  .footer-wrapper {
    padding: 20px;
  }

  .contact-section-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact-section-wrapper .contact-section {
    gap: 10px;
  }

  .quick-links .quick-link-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
