.footer-wrapper {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 50px;
}

.footer-wrapper .contact-section-wrapper .contact-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-wrapper .contact-section-wrapper .contact-section a {
  padding: 6px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 50%;
}

.logo-linkedin {
  color: white;
  background-color: #0077b5;
}

.logo-github {
  color: white;
  background-color: black;
  font-size: 28px;
}

.logo-facebook {
  color: white;
  background-color: #316ff6;
}

.logo-insta {
  background-color: red;
  color: white;
}

.footer-wrapper .contact-section-wrapper .contact-section a:hover {
  color: blueviolet;
}

/* .footer-wrapper .quick-links h4 {
  font-size: 30px;
  color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  text-align: center;
} */

.footer-wrapper .quick-links .quick-link-wrapper {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  justify-content: center;
}

.footer-wrapper .quick-links .quick-link-wrapper .items {
  padding-left: 20px;
  font-size: 18px;
  outline: none;
  color: white;
  text-decoration: none;
}

.footer-wrapper .quick-links .quick-link-wrapper .items:hover {
  color: blueviolet;
}

.footer-wrapper p {
  color: white;
  text-align: center;
}
