.recipe-category-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-category-inner-wrapper {
  max-width: calc(1180px - 20px);
}

.title-recipe-category {
  font-family: "Cormorant Infant", serif;
  text-align: center;
  font-size: 60px;
}

.column-recipe-category {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.category-card-container {
  width: 282px;
  height: 137px;
  font-family: "Inter Tight", sans-serif;
  background-color: #eefddd;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.upper-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.text-recipe-category {
  font-size: 32px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.lower-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.lower-card-wrapper h4 {
  font-weight: 300;
}
