body,
html {
  font-family: "Inter Tight", sans-serif;
  margin: 0px;
  padding: 0px;
}

.font-inter{
  font-family: "Inter Tight", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: fanlste;
  src: url("../public/fanlste.otf");
}

.font-fanlste {
  font-family: fanlste;
}
