.newsletter-wrapper {
  background-color: #f8fafd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 381px;
}

.newsletter-header {
  color: #010101;
  text-align: center;
  font-size: 60px;
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.newsletter-text {
  color: #5a5a5a;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 12px;
}

.search-wrapper {
  width: 460px;
}

.newsletter-search {
  color: #12822a !important;
}

.newsletter-search .ant-btn {
  background-color: #12822a;
}

.newsletter-search .ant-btn:hover {
  background-color: #0e6d23 !important;
}

@media only screen and (max-width: 425px) {
  .newsletter-wrapper {
    height: 113px;
  }

  .newsletter-header {
    font-size: 16px;
  }

  .newsletter-text {
    font-size: 8px;
  }

  .search-wrapper {
    width: 460px;
  }

  .search-wrapper {
    width: 205px;
    height: 17px !important;
  }
}
