.cuisines-type-wrapper {
  margin-top: 30px;
}

.cuisines-type-wrapper .type-header-text {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.cuisines-type-wrapper .type-header-text span {
  color: #124559;
}

.card:hover .recipe-card-text {
  height: 70px;
}

@media only screen and (max-width: 767px) {
  .cuisines-type-wrapper .type-header-text {
    font-size: 18px;
  }

  .recipe-card-text {
    height: 60px !important;
  }
}
